.innerForm {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  .MuiTypography-root {
    margin: 10px;
    min-width: 180px;
  }
  .MuiButton-root {
    margin: 8px;
  }
  margin: 1vw;
}